<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>Elastic客户端</description>

    <bean id="elasticClient" class="com.handler.es.plugin.ElasticFactoryBean">
        <property name="clusterName" value="coupon-v2" />
        <property name="autoCreateIndex" value="false" />
        <property name="discoveryType" value="zen" />
        <property name="minimumMasterNodes" value="1" />
        <property name="pingTimeout" value="200" />
        <property name="initialStateTimeout" value="500" />
        <property name="gatewayType" value="local" />
        <property name="schedule" value="50" />
        <property name="indexNumberOfShards" value="1" />
        <!--<property name="numberOfShards" value="5"/>-->
        <property name="serverAddress" value="192.168.183.104:9301,192.168.183.105:9301" />
    </bean>
</beans>