<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>Elastic客户端</description>

    <bean id="elasticClient" class="com.handler.es.plugin.ElasticFactoryBean">
        <property name="clusterName" value="jiesi-2.1.2" />
        <property name="serverAddress" value="127.0.0.1:20102" />
        <property name="sniff" value="true"/>
    </bean>
</beans>